@model DHMRice.Models.ShopStock

@{
    ViewBag.Title = "ShopRiceStockEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Start content -->
<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Shop Stock </h4>
                    <ol class="breadcrumb p-0 m-0">

                        <li>
                            <a href="~/AdminClass/Index">Previous Stock </a>
                        </li>
                        <li class="active">
                            Add Previous Stock
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        <div class="container card-box">
            <div class="">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">



                    <div class="form-horizontal">
                        @using (Html.BeginForm("ShopRiceStockEdit", "ShopStock", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div style="color:red">
                                @Html.ValidationSummary()
                            </div>
                           
                            <input type="hidden"  name="ShopStockId" id="ShopStockId" value="@(Model.ShopStockId)" >

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Rice Name</label>
                                    <input type="text" class="form-control" name="RiceName" id="RiceName" value="@(Model.srsc_title)" placeholder="" required>
                                </div>
                            </div>

                            @*<div class="form-group">
                                    <div class="col-md-10">
                                        <label for="Section Name">Produced Rice Code</label>
                                        <input type="text" class="form-control" id="RiceCode" name="RiceCode" placeholder="" required>
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Totl Qty</label>
                                    <input type="text" class="form-control" name="BAgs" value="@(Model.Qty)" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <select name="packing" class="form-control" data-style="btn-default" required>
                                        <option value="null">Packing Type</option>

                                        <option value="25">25 kg</option>
                                        <option value="50">50 kg</option>

                                    </select>
                                </div>
                            </div>

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="Section Name">Per Bag Price</label>
                                        <input type="text" class="form-control" name="Price" value="@(Model.PerBagPrice)" required>
                                    </div>
                                </div>

                                <br />

                                <div class="form-group">
                                    <div class="col-md-10">

                                        <input type="submit" value="submit" class="btn btn-success" />
                                    </div>
                                </div>
                        }
                    </div>


                </div>
                <div class="col-lg-1"></div>


            </div>
        </div>


    </div>
</div>






