@model IEnumerable<DHMRice.Models.RawRice>
@using DHMRice.Models;
@{
    ViewBag.Title = "AllRice";
    Layout = null;
    ApplicationDbContext db = new ApplicationDbContext();
    decimal sumAmount = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML invoice</title>



    <link rel="stylesheet" href="~/Content/Invoices/style.css">

</head>
<body>

    <html>
    <head>
        <meta charset="utf-8">
        <title>Invoice</title>
        <link rel="stylesheet" href="style.css">
        <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
        <script src="script.js"></script>
    </head>
    <style type="text/css">
        @@media print {


            table.as, th.as, td.as {
                display: block;
                position: fixed;
                bottom: 20px;
                text-align: center;
            }
        }
    </style>
    <body>
        <header>
            <h1>Purchasing Report</h1>
            <address >
                <p>55-Circular Road</p>
                <p>Akbari Mandi Lahore</p>
                <p>03018412091,03229112107</p>
            </address>
            <span><img alt="" src="~/Content/Invoices/logo.png"><input type="file" accept="image/*"></span>
        </header>
        <article>
            <h1>Recipient</h1>
            <address contenteditable>

            </address>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <table class="meta">
                    <tr>
                        <th><span >Invoice #</span></th>
                        <td><span >101138</span></td>
                    </tr>
                    <tr>
                        <th><span >Date</span></th>
                        <td><span >@DateTime.Now</span></td>
                    </tr>
                   
                </table>
            </div>

            <table class="inventory">
                <thead>
                    <tr>
                        <th><span >Sr#</span></th>
                        <th><span >Item Name</span></th>
                        <th><span >Rate</span></th>
                        <th><span >Quantity</span></th>
                        <th><span >Packing</span></th>
                        <th><span>Amount</span></th>
                        <th><span>Date</span></th>
                    </tr>
                </thead>
                <tbody>
                    @{decimal TotalExpense = 0; var sr = 0; }
                    @foreach (var item in Model)
                    {
                        sr++;
                        var pricing = db.Pricing.Where(r => r.item_id == item.RawRice_id && r.item_Type == "RawRice").SingleOrDefault();
                        var expense = db.RawRiceExpense.Where(p => p.RawRice_id == item.RawRice_id).ToList();
                        if (expense != null)
                        {
                            foreach (var exp in expense)
                            {
                                TotalExpense += exp.RawRiceExpense_Amount;
                            }
                        }
                        <tr>
                            <td>@sr</td>
                            <td>@item.Item_Name</td>
                            <td>Rs @pricing.PerBagPrice</td>
                            <td>@item.Bags_qty</td>
                            <td>@item.packing.Packing_Type kg</td>
                            <td>Rs @pricing.Pricing_NetTotal</td>
                            @{sumAmount += pricing.Pricing_NetTotal; }
                            <td> @item.Date.ToShortDateString()</td>
                        </tr>
                    }

                </tbody>
            </table>

            <table class="balance">
                <tr>
                    <th><span >Total</span></th>
                    <td>@sumAmount</td>
               
              
        </article>
        <table class="as" id="footer">
            <tr>
                <td class="as" width="100%" style="border-style:none; text-align:center">
                    Designed by Digicon-Valley.com
                </td>
            </tr>
        </table>
    </body>
</html>

<script src="/Content/Invoices/index.js"></script>
</body>
</html>

