@model DHMRice.Models.ProducedRiceSales_pt
@using DHMRice.Models;
@{
    ViewBag.Title = "RawRiceSellingInvoice";
    Layout = null;
    ApplicationDbContext db = new ApplicationDbContext();
    decimal SumAmount = 0;
    decimal paid = 0;
    decimal SumBalance = 0;
    decimal remaining = 0;
    decimal Sumremaining = 0;
    decimal DebitRemaining = 0;
    decimal SumDebitremaining = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produced Rice selling</title>



    <link rel="stylesheet" href="~/Content/Invoices/style.css">
    <style type="text/css">
                    .watermark{
    background:url("../Content/Invoices/logo.png")  no-repeat;opacity:0.6;
  opacity: 0.6;
    background-position: center 140px;
  position: absolute;
  width: 100%;
  height: 80%;
}
        @@media print {


            table.as, th.as, td.as {
                display: block;
                position: fixed;
                bottom: 20px;
                text-align: center;
            }
        }
    </style>

</head>
<body>

    <html>
    <head>
        <meta charset="utf-8">
        <title>Invoice</title>
        <link rel="stylesheet" href="style.css">
        <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
        <script src="script.js"></script>
    </head>
    <body>
        <header>
            <h1>Invoice</h1>
            <address contenteditable>
                <p>55-Circular Road</p>
                <p>Akbari Mandi Lahore</p>
                <p>03018412091,03229112107</p>
            </address>
            <span><img alt="" src="~/Content/Invoices/logo.png"><input type="file" accept="image/*"></span>
        </header>
        <article>
            <div class="watermark"></div>
            <h1>Recipient</h1>
            <address>

            </address>
            <div class="row">
                <div class="col-lg-4">
                    <p>Party Name: @Model.Party.Party_Name</p>
                    <p style="font-size:12px">Party No: @Model.Party.Party_MobileNo</p>
                    <p style="font-size:12px">Address: @Model.Party.Party_Address</p>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <table class="meta">
                        <tr>
                            <th>Invoice #</th>
                            <td>@ViewBag.InoviceNum</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>@ViewBag.Date</td>
                        </tr>

                    </table>
                </div>
            </div>
            <table class="inventory">
                <thead>
                    <tr>
                        <th>Sr#</th>

                        <th>Item Name</th>
                        @*<th>Rate</th>*@
                        <th>Quantity</th>
                        <th>Weight</th>
                        <th>Mann</th>
                        <th>Total Amount</th>





                    </tr>
                </thead>
                <tbody>
                    @{ var sr = 0; }
                    @foreach (var item in db.ProducedRiceSales_ch.Where(r => r.prsp_id == Model.prsp_id).ToList())
                    {

                        sr++;
                        var rawTransac = db.Transaction.Where(t => t.Transaction_item_type == "Produced Rice Sales" && t.Transaction_item_id == item.prsp_id).SingleOrDefault();
                        paid = rawTransac.Credit;

                        //var raw = db.RawRice_Sales_ch.Where(r => r.rsp_id == item.rsp_id).ToList();
                        //SumAmount += raw.rsc_price;

                        <tr>
                            <td>@sr</td>

                            <td>@item.prsc_title</td>
                            @*@{ var rate = item2.rsc_price / item2.rsc_qty; }*@

                            <td>@item.prsc_qty</td>
                            <td>@item.prsc_Weight_kg</td>
                            <td>@item.prsc_Weight_mann</td>
                            <td>@item.prsc_price</td>
                            @{ SumAmount += item.prsc_price;
                                SumAmount += Model.Carriage + Model.Labour;
                                 }


                            @*<td>Rs @pricing.PerBagPrice</td>
                                @{ var reamining = item.Bags_qty - item.Bags_Sold_qty; }
                                <td>@reamining</td>
                                <td>@item.packing.Packing_Type kg</td>*@

                        </tr>
                                }


                </tbody>







            </table>

            <table class="balance">
                @*<tr>
                        <th><span contenteditable>Total</span></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th><span contenteditable>Amount Paid</span></th>
                        <td></td>
                    </tr>*@
                @{ remaining = Model.prsp_Total_Amount - paid; }
                <tr>
                    <th><span>Total Amount</span></th>
                    <td>@Model.prsp_Total_Amount</td>
                </tr>
                <tr>
                    <th><span>Labour</span></th>
                    <td>@Model.Labour</td>
                </tr>
                <tr>
                    <th><span>Carriage</span></th>
                    <td>@Model.Carriage</td>
                </tr>
                <tr>
                    <th><span>Paid Amount</span></th>
                    <td>@paid</td>
                </tr>
                <tr>
                    <th><span>Remaining</span></th>
                    <td>@remaining</td>
                </tr>
            </table>
        </article>
        <table class="as" id="footer">
            <tr>
                <td class="as" width="100%" style="border-style:none; text-align:center">
                    Designed by Digicon-Valley.com
                </td>
            </tr>
        </table>
    </body>
</html>

<script src="/Content/Invoices/index.js"></script>
</body>
</html>
