@model DHMRice.Models.GatePassInwared
@using DHMRice.Models;
@{
    ViewBag.Title = "Gatepass";
    Layout = null;
    ApplicationDbContext db = new ApplicationDbContext();
    var rice = db.RarRices.Find(Model.RawRice_id);
    decimal SumAmount = 0;
    decimal paid = 0;
    decimal SumBalance = 0;
    decimal remaining = 0;
    decimal Sumremaining = 0;
    decimal DebitRemaining = 0;
    decimal SumDebitremaining = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raw Rice Stock</title>


   
    <link rel="stylesheet" href="~/Content/Invoices/style.css">
    <style type="text/css">
        .watermark {
            background: url("/Content/Invoices/logo.png") no-repeat;
            opacity: 0.6;
            opacity: 0.6;
            background-position: center 10px;
            position: absolute;
            width: 100%;
            height: 80%;
        }

        @@media print {

            .print {
                display: none;
            }

            table.as, th.as, td.as {
            }
        }
    </style>



</head>

   
    <body >
        <header>
            <h1>Gate Pass Inward</h1>
            <h5 align="center">Gate Pass Factory</h5>
            <address contenteditable>
                <p>55-Circular Road</p>
                <p>Akbari Mandi Lahore</p>
                <p>03018412091,03229112107</p>
            </address>
            <span><img alt="" src="~/Content/Invoices/logo3.png" height="82" width="103"><input type="file" accept="image/*"></span>
        </header >

        
            <article >
                <div class="watermark"></div>
                <div class="">
                    <h1>Recipient</h1>
                    <address>

                    </address>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Party Name: @rice.party.Party_Name</p>
                            <p style="font-size:12px">Party No: @rice.party.Party_MobileNo</p>
                            <p style="font-size:12px">Address: @rice.party.Party_Address</p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <table class="meta">
                                <tr>
                                    <th>Gatepass #</th>
                                    <td>@Model.GatePassInwaredId</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                        
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                    <table class="inventory">
                        <thead>
                            <tr>


                                <th>Item Name</th>
                                <th>Item Code</th>
                                <th>Packing Type</th>

                                <th>Quantity</th>
                                <th>Weight</th>
                                <th>Mann</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ var sr = 0; }
                            <tr>

                                <td>@rice.Item_Name</td>
                                <td>@rice.Item_Code</td>
                                <td>@rice.packing.Packing_Type</td>
                                <td>@rice.Bags_qty</td>
                                <td>@rice.Total_Weight</td>
                                <td>@rice.Total_Mann</td>
                            </tr>
                            @{ var expense = db.RawRiceExpense.Where(e => e.RawRice_id == rice.RawRice_id).ToList(); }
                            @if (expense.Count > 0)
                            {
                                <tr>
                                    <th>Expense </th>



                                    <th>Amount</th>
                                </tr>

                                <tr>
                                    @foreach (var item in expense)
                                    {
                                        <td>@item.RawRiceExpense_Name</td>
                                        <td>@item.RawRiceExpense_Amount</td>
                                    }



                                </tr>
                            }


                        </tbody>







                    </table>


                    <div style="margin-bottom:15px">
                        <label>Vehicle No:</label>
                        <u><span>@Model.Vehicle_No</span></u>
                        <div style="float:right; width:300px">
                            <label>Driver Name:</label>
                            <u><span>@Model.Driver_Name</span></u>
                        </div>
                    </div>

                    <div style="margin-bottom:15px">
                        <label>Bility No:</label>
                        <u><span>@Model.Bility_No</span></u>
                        <div style="float:right; width:300px">
                            <label>Purchased By:</label>
                            <u><span>@Model.Purchased_By</span></u>
                        </div>
                    </div>
                    <div style="margin-bottom:95px">
                        <label>Designation :</label>
                        <u><span>@Model.Designation</span></u>
                        <div style="float:right; width:300px">
                            <label>Date:</label>
                            <u><span>@DateTime.Now.ToShortDateString()</span></u>
                        </div>
                    </div>
                    <div style="width:700px">
                        <span style="margin-right:155px">Gate Clerk &nbsp; </span>
                        <span style="margin-right:155px">Gate Incharge</span>

                        <span>Authorized</span>




                    </div>
                </div>
</article>
        
        <table class="as" id="footer">
            <tr>
                <td class="as" width="100%" style="border-style:none; text-align:center">
                    Designed by Digicon-Valley.com
                </td>
            </tr>
        </table>
    </body>


<script src="/Content/Invoices/index.js"></script>
</body>
</html>
